# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE
.idea/
*.iml
.DS_Store

# Build outputs
local.properties

/*.log
/.kotlin
/androidApp/src/main/jniLibs
